:root{ 
    color-scheme: only light;
}

h1{
    color: #ffffff;
    background-clip: text;
    background-size: auto; 
}
body{
  background: linear-gradient(to bottom, #768ba9, #1a1a2b);
  min-height: 100vh;
  margin: 0;
}

legend {
    font-size: 1pc;
    font-weight: bold;
    color: #333;
    background-color: #00ffa7;
    padding: 0.5pc ;
    border-radius: 5px;
    border: 0.2pc solid #00000060;
  }
fieldset {
    border: 0.25pc,solid, #37373760;
    padding: 1pc;
    border-radius: 0.5pc;
    display: grid;
    width: auto;
    right: auto;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    background-color: #ffffff5d;
    
} 
input{
    border:0.25pc,solid, #00000060;
    background:#00a1ff ;
    border-radius: 0.5pc;
    font-size: 1.2pc;
    transition: transform 0.3s;
}
label{
    font-size: 1.2pc;
    
}

footer{
    background: #9784ab;
    border-top-left-radius:2pc;
    border-top-right-radius: 2pc;
    padding: 0.5pc;
    margin: 0pc;
    text-align: center;
    border-top:0.25pc  solid  #ffffffa5;   
    background-size: 100% 100%;
    animation: animacionFooter 2.5s ease forwards;
    box-shadow: 0pc 1pc 0.5pc #0000006f,0pc 0pc 2pc #dddddd6f;
}
article{
    background: #687fb0; 
    border-radius: 0.5pc;
    padding: 0.1pc;
    margin: 1pc;
    border-top:0.25pc  solid  #ffffffa5;
    border-left:0.25pc  solid  #e3e1e160 ;
    border-right:0.25pc  solid  #e3e1e160 ;
    border-bottom:0.25pc  solid  #252525a2;
    background-size: 100% 100%;
    animation: animacionArticle 2.5s ease forwards;
    width: auto;
    right: auto;
    box-shadow: 0pc 1pc 0.5pc #0000006f,0pc 0pc 2pc #dddddd6f;
}
header{
    background: #ada5d5;
    border-bottom-left-radius: 2pc;
    border-bottom-right-radius: 2pc;
    padding: 0.1pc;
    margin:0;
    border-bottom:0.25pc  solid  #000000a2;
    background-size: 100% 100%;
    animation: animacionHeader 2.5s ease forwards;
    text-align: center;
    box-shadow: 0pc 1pc 0.5pc #0000006f,0pc 0pc 2pc #dddddd6f;
}
#TdGastoTotal{
    font-size: 1.75pc
}
table{
    border:0.25pc  solid  #00000060; 
    border-radius: 0.25pc;
    background:#85cdf4 ;
    
}

td,th{
    padding: 1pc;
    border:0.25pc  solid  #00000060; 
    border-radius: 0.25pc;
    font-size: 1.5pc;
    background:#00a1ff ;
}
div{
    border-top:0.25pc  solid  #ffffffa5;
    border-left:0.25pc  solid  #e3e1e160 ;
    border-right:0.25pc  solid  #e3e1e160 ;
    border-bottom:0.25pc  solid  #252525a2;
    border-radius: 1pc;
    box-shadow: 0pc 1pc 0.5pc #0000006f,0pc 0pc 2pc #dddddd6f;
    margin: 1pc;
    background: #a9a9a9; 
}
.contenedorGastos{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
}

p{
    width: 100%;
    right: 100%;
    padding: 0.5pc;
}
.contenedorResultados{
    width: auto;
    right: auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    
}


.contenedorGastos div:nth-child(3){
    padding: 1pc;
}
button{
    border:0.25pc,solid, #00000060;
    background:#76b5da ;
    border-radius: 0.5pc;
    font-size: 1.5pc;
    justify-items: center;
    align-items: center;
    width: 100%;
    right: 100%;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 1.5pc;
}




button:hover {
      background:radial-gradient(#ffffff,#f2ff00);
      transform: scale(1.005);
      
    }
button:active{
    box-shadow: 0pc 0pc 1pc #fff700,0pc 0pc 2pc #ffffff;
    background:radial-gradient(#ffffff,#f2ff00);
    transform: scale(1.020);
}
input:hover{
    background:radial-gradient(#ffffff,#f2ff00);
    transform: scale(1.010);
}
input:active{
    background:radial-gradient(#ffffff,#f2ff00);
    box-shadow: 0pc 0pc 1pc #fff700,0pc 0pc 2pc #ffffff;
    transform: scale(1.020);
}
@media (width > 45pc){
    div{
        padding: 1pc;
    }
    .contenedorGastos{
        grid-template-columns: 50%;
    }
    .contenedorGastos div:nth-child(3){
        grid-column: 1/3;
        grid-row:auto;
    }
    .contenedorGastos div:nth-child(4){
        grid-column: 1/3;
        grid-row:auto;
    }
    article{
        margin: 2pc;
        padding: 1pc;
    }
}
@media (width > 60pc){
    article{
        margin: 3pc;
        padding: 1pc;
    }
}

@media(width > 0pc){
    fieldset,button{
        margin-top: 1pc;
    }
    article{
        margin-top: 2pc;
        margin-bottom: 2pc;
        padding: 1pc;
    }
    
}

@keyframes animacionHeader{
    0% 
    { 
        opacity: 0;
        transform: translateX(-70pc);  
    }
    100% 
    { 
        opacity: 1;
        transform: translateX(0pc); 
    }     
}
@keyframes animacionArticle{
    0% { 
        opacity: 0;
        transform: translateX(-80pc);
    }
    
    100% { 
        opacity: 1;
        transform: translateX(0pc);
    }
}
@keyframes animacionFooter{
    0% { 
        opacity: 0;
        transform: translateX(-90pc);
    }
    100% { 
        opacity: 1;
        transform: translateX(0pc);
    }

}
    
