:root{ 
    color-scheme: only light;
}

h1{
    color: #ffffff;
    background-clip: text;
    background-size: auto; 
}
body{
  background: linear-gradient(to bottom, #166898, #002839);
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

legend {
    font-size: 1pc;
    font-weight: bold;
    color: #333;
    background-color: #00ffa7;
    padding: 0.5pc ;
    border-radius: 5px;
    border: 0.2pc solid #00000060;
  }
fieldset {
    border-top:0.25pc  solid  #ffffffa5;
    border-left:0.25pc  solid  #e3e1e160 ;
    border-right:0.25pc  solid  #e3e1e160 ;
    border-bottom:0.25pc  solid  #252525a2;
    padding: 1pc;
    border-radius: 2pc;
    display: grid;
    width: auto;
    right: auto;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    background-color: #ffffff5d;
    margin-top: 1pc;
} 
input{
    border:0.25pc,solid, #00000060;
    background:#00c3ff ;
    border-radius: 0.5pc;
    font-size: 1.2pc;
    transition: transform 0.3s;
}
label{
    font-size: 1.2pc;
}

footer{
    background: linear-gradient(to bottom, #21303d, #0b0c13);
    border-top-left-radius: 20pc;
    border-top-right-radius: 20pc;
    margin-top: 5pc;
    text-align: center;
    padding: 5pc;
    border-top: 0.5pc  solid  #33495e;   
    animation: animacionFooter 2.5s ease forwards;
    box-shadow: 0pc 1pc 0.5pc #0000006f,0pc 0pc 2pc #ffffff6f;
}
article{
    background: #2C3E50; 
    border-radius: 2pc;
    padding: 0.2pc;
    margin: 1pc;
    border-top:0.25pc  solid  #81b4e8c6;
    border-left:0.25pc  solid  #81b5e861 ;
    border-right:0.25pc  solid  #81b5e861 ;
    border-bottom:0.25pc  solid  #151e27;
    background-size: 100% 100%;
    animation: animacionArticle 2.5s ease forwards;
    width: auto;
    right: auto;
    box-shadow: 0pc 1pc 0.5pc #0000006f,0pc 0pc 2pc #fffefe6f;
}
header{
    background:  linear-gradient(to top, #2C3E50, #141622);
    border-bottom-left-radius: 20pc;
    border-bottom-right-radius: 20pc;
    padding: 4pc;
    margin-bottom:5pc;
    border-bottom:1pc  solid  #151e27;
    background-size: 100% 100%;
    animation: animacionHeader 2.5s ease forwards;
    text-align: center;
    box-shadow: 0pc 1pc 0.5pc #0000006f;
}

table{
    border:0.25pc  solid  #00000060; 
    border-radius: 0.25pc;
    background:#85cdf4 ;
    
}

td,th{
    padding: 1pc;
    border:0.25pc  solid  #00000060; 
    border-radius: 0.25pc;
    font-size: 1.25pc;
    background:#00a1ff ;
}

.contenedorGastos{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
}

p{
    width: 100%;
    right: 100%;
    padding: 0.5pc;
}
.contenedorResultados{
    width: auto;
    right: auto;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    
}



.contenedorGastos div:nth-child(3){
    padding: 1pc;
}
button{
    border:0.25pc,solid, #00000060;
    background:#76b5da ;
    border-radius: 0.5pc;
    font-size: 1.5pc;
    justify-items: center;
    align-items: center;
    width: 100%;
    right: 100%;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 1.5pc;
    margin-top: 1pc;
}

button:hover {
      background:radial-gradient(#ffffff,#f2ff00);
      transform: scale(1.005);
      
    }
button:active{
    box-shadow: 0pc 0pc 1pc #fff700,0pc 0pc 2pc #ffffff;
    background:radial-gradient(#ffffff,#f2ff00);
    transform: scale(1.020);
}
input:hover{
    background:radial-gradient(#ffffff,#f2ff00);
    transform: scale(1.010);
}
input:active{
    background:radial-gradient(#ffffff,#f2ff00);
    box-shadow: 0pc 0pc 1pc #fff700,0pc 0pc 2pc #ffffff;
    transform: scale(1.020);
}


@media (width > 45pc){
    div{
        padding: 1pc;
    }
    .contenedorGastos{
        grid-template-columns: 50%;
    }
    
    .contenedorGastos div:nth-child(3){
        grid-column: 1/3;
        grid-row:auto;
    }
    .contenedorGastos div:nth-child(4){
        grid-column: 1/3;
        grid-row:auto;
    }
    article{
        padding: 1pc;
    }
    fieldset{
        box-shadow: 0pc 1pc 0.5pc #0000006f,0pc 0pc 2pc #fffefe6f;
    }
}




@keyframes animacionHeader{
    0% 
    { 
        opacity: 0;
        transform: translateX(-70pc);  
    }
    100% 
    { 
        opacity: 1;
        transform: translateX(0pc); 
    }     
}
@keyframes animacionArticle{
    0% { 
        opacity: 0;
        transform: translateX(-80pc);
    }
    
    100% { 
        opacity: 1;
        transform: translateX(0pc);
    }
}
@keyframes animacionFooter{
    0% { 
        opacity: 0;
        transform: translateX(-90pc);
    }
    100% { 
        opacity: 1;
        transform: translateX(0pc);
    }

}
    
